.repayLoanContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000;
    min-height: 100vh;
    color: #fff;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .loansList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .loanCard {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .loanCard h3,
  .loanCard p {
    margin: 5px 0;
  }
  
  .loanCard button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .loanCard button:hover {
    background-color: #0056b3;
  }
  
  .repaymentModal {
    background-color: #fff;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .repaymentOverlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .repaymentItem {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .repaymentItem p {
    margin: 5px 0;
  }
  
  .repaymentItem input {
    width: calc(100% - 110px);
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .repaymentItem button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .repaymentItem button:hover {
    background-color: #218838;
  }
  
  .closeModalButton {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .closeModalButton:hover {
    background-color: #c82333;
  }
  